.nav-bar{
    background-color:green;
}
li{
    display:inline;
    color:white;
    font-size:larger;
    .nav-link{
        color:white;
    }
}

.nav-bar>li{
    margin-left:300px;
}

.hover-focus{
    background-color:green;
    color: white;
    border-radius: 15px;
    height:30px;
    width:90px;
    border-color:white;
}
.profile-pic{
    padding:3px;
    border-width:10px;
    border-color:green;
    border-radius:100px;
}
.profile-card{
    background-color:rgb(244, 244, 236);
    height:450px;
    width:380px;
}


